@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-slate-300 antialiased selection:bg-brand-blue selection:text-white;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-blue to-brand-cyan;
  }
}